    .body {
        background-color: #E0E0E0;
        font-family: Verdana;
        overflow:scroll;
        box-sizing:border-box;
      }
 
    }
    .container{
      width: 80%;
      background-color: rgb(255,255,255);
    
    }
    .header{
      
      background-image: url("https://solarenergy.neocities.org/power_plant.jpg");
      height:300px;
      width:100%;
      text-align: center;
    }
    footer {
    background:black; 
    height:50px;
}